<div id="mySidenav" class="sidenav">
  <a href="https://uit-econ.github.io/">Hovedside bachelor</a>
  <a href="https://uit-sok-2014-h24.github.io/index.html" target="blank">Hjem</a>
  <a href="https://uit-sok-2014-h24.github.io/kursplan.html">Kursplan</a>
  <a href="https://uit-sok-2014-h24.github.io/oppgave/mappeoppgave.html">Mappeoppgave</a>
  <a href="https://uit-sok-2014-h24.github.io/gruppesvar.html">Gruppesvar</a>
  <a href="https://uit-sok-2014-h24.github.io/oppgave/tips.html">Tips til oppgaven</a>

  

</div>
